* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b2838;
    font-family: 'Arial', sans-serif;
    color: white;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-text{
    font-color: #FFFFFF;
}

.header {
    background-color: #171d25;
    padding: 24px 0;
}

.main-nav {
    display: flex;
    align-items: center;
}

.login {
    margin-top: 100px;
    color: #8f98a0;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list {
    list-style: none;
    padding-top: 15px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
}

.header-item {
    margin-right: 20px;
    margin-left: 20px;
}

.header-item a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.header-item a:hover {
    color: white;
    border-bottom: 2px solid white;
}

.main-logo img {
    vertical-align: bottom;
}

.is-here {
    color: #1a9fff;
    border-bottom: 2px solid #1a9fff;
}



.main-game {
    margin-top: 24px;
    background-color: #1b2c3b;
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.main-game:hover {
    text-decoration: none;
    color: white;
    background-color: #a9cde2;
}

.game-tags {
    color: #264252;
    font-size: 12px;
    margin-top: 10px
}

.game-info {
    margin-left: 20px;
    margin-right: 540px;
}

.game-sale {
    font-size: 16px;
    margin: 20px 20px;
    padding: 2px 5px;
    background-color: #4c6b22;
    color: #BEEE11;
}

.game-price {
    text-align: right;
}

.game-cost-without-sale {
    color: #8f98a0;
    font-size: 12px;
    text-decoration: line-through;
}

.game-cost {
    color: #beee11;
}

.game-logo img {
    vertical-align: bottom;
}



.community {
    margin-top: 20px;
}

.community-title {
    margin-bottom: 10px;
}

.community-name {
    font-size: 24px;
}

.community-tags {
    color: #8f98a0;
}

.community-games {
    background-color: #12222f;
    display: flex;
    font-size: 14px;
}

.community-game {
    margin-top: 5px;
    display: flex;
}

.community-recent-played {
    margin: 10px 10px;
}

.community-recent-seen {
    margin: 10px 10px;
}

.community-popular {
    margin: 10px 10px;
}

.community-games-title {
    margin-right: 120px;
    color: #8f98a0;
}

.community-game-logos {
    margin-top: 2px;
    vertical-align: bottom;
}

.community-game-info {
    margin-left: 10px;
}

.community-game-publication {
    font-size: 12px;
    color: #2f89bc;
}


.community-game-publications {
    text-align: center;
}