* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b2838;
    font-family: 'Arial', sans-serif;
    color: white;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.white {
    color: white;
}

.header-text{
    font-color: #FFFFFF;
}

.header {
    background-color: #171d25;
    padding: 24px 0;
}

.main-nav {
    display: flex;
    align-items: center;
}

.login {
    margin-top: 100px;
    color: #8f98a0;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list {
    list-style: none;
    padding-top: 15px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
}

.header-item {
    margin-right: 20px;
    margin-left: 20px;
}

.header-item a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.header-item a:hover {
    color: white;
    border-bottom: 2px solid white;
}

.main-logo img {
    vertical-align: bottom;
}

.is-here {
    color: #1a9fff;
    border-bottom: 2px solid #1a9fff;
}



.main-game {
    margin-top: 24px;
    background-color: #1b2c3b;
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.main-game:hover {
    text-decoration: none;
    color: white;
    background-color: #a9cde2;
}

.main-user {
    font-size: 16px;
    color: #b5b4b2;
    margin-right: 10px;
}

.main-user:hover {
    color: #b5b4b2;
}

.main-wallet {
    font-size: 14px;
    color: #b5b4b2;
    padding: 5px 14px;
    border-left: 2px solid ;
}

.main-wallet:hover {
    color: #b5b4b2;
    border-left: 2px solid;
}



.game-tags {
    color: #264252;
    font-size: 12px;
    margin-top: 10px
}

.game-info {
    margin-left: 20px;
    margin-right: 540px;
}

.game-sale {
    font-size: 16px;
    margin: 20px 20px;
    padding: 2px 5px;
    background-color: #4c6b22;
    color: #BEEE11;
}

.game-price {
    text-align: right;
}

.game-cost-without-sale {
    color: #8f98a0;
    font-size: 12px;
    text-decoration: line-through;
}

.game-cost {
    color: #beee11;
}

.game-logo img {
    vertical-align: bottom;
}



.community {
    margin-top: 20px;
}

.community-title {
    margin-bottom: 10px;
}

.community-name {
    font-size: 24px;
}

.community-tags {
    color: #8f98a0;
}

.community-games {
    background-color: #12222f;
    display: flex;
    font-size: 14px;
}

.community-game {
    margin-top: 5px;
    display: flex;
}

.community-recent-played {
    margin: 10px 10px;
}

.community-recent-seen {
    margin: 10px 10px;
}

.community-popular {
    margin: 10px 10px;
}

.community-games-title {
    margin-right: 120px;
    color: #8f98a0;
}

.community-game-logos {
    margin-top: 2px;
    vertical-align: bottom;
}

.community-game-info {
    margin-left: 10px;
}

.community-game-publication {
    font-size: 12px;
    color: #2f89bc;
}

.community-login {
    padding: 10px 0;
    display: flex;
}

.community-or {
    margin: 5px 10px;
    vertical-align: bottom;
}

.community-login-button {
    background: linear-gradient(180deg, #799905 0%, #536904 100%);
    border-radius: 3px;
    border-color: #799905;
    padding: 0 14px;
}

.community-login-src:hover {
    color: white;
    text-decoration: none;
}

.community-login-src {
    cursor: pointer;
    text-decoration: none;
    color: #d2e885;
}

.community-game-publications {
    text-align: center;
    margin-top: 180px;
}

.community-game-publications-text {
    font-size: 24px;
}

.community-game-publications-count {
    color: #a4a5aa;
    font-size: 18px;
}



.help-title {
    font-size: 24px;
    margin: 14px 0;
}

.help-text {
    margin: 14px 0;
    font-size: 18px;
    color: #5eafde;
}

.help-login {
    background-color: #0b1726;
}

.help-login-text {
    text-align: center;
    color: #c6d4df;
}

.help-login-buttons {
    text-align: center;
}

.help-login-button {
    margin: 5px 10px;
    padding: 5px 75px;
    background-color: #67c1f5;
    border-color: #67c1f5;
    border-radius: 3px;
}

.help-authorisation-button {
    margin: 5px 10px;
    padding: 5px 30px;
    background-color: #2d3d50;
    border-color: #2d3d50;
    border-radius: 3px;
}

.help-login-src {
    color: white;
}

.help-login-src:hover {
    color: white;
    text-decoration: none;
}

.help-games-text {

    margin-top: 20px;
    margin-bottom: 10px;
    color: #5eafde;
}

.help-game {
    margin: 10px 0;
    padding: 8px 7px;
    display: flex;
    justify-content: space-between;
    background-color: #445468;
}

.help-game:hover {
    background-color: #266ca7;
}

.help-game-info {
    display: flex;
}

.help-game-name {
    margin-top: 5px;
}

.help-game-name {
    margin-left: 5px;
}



.account-details {
    margin-left: 24px;
    margin-top: 10px;
    display: flex;
}

.account-text {
    display: flex;
    font-size: 24px;
    margin: 5px 10px;
}

.account-level {
    margin: 0 10px;
    margin-bottom: 140px;
    padding: 0 11px;
    border: 2px solid #9b9b9b;
    border-radius: 50px;
}



.wallet-title {
    margin-top: 10px;
    font-size: 30px;
}

.wallet-user-id {
    color: #808891;
}

.wallet-operations {
    margin-top: 20px;
    background-color: #223d5a;
    display: flex;
}

.wallet-operations-title {
    padding-top: 3px;
    padding-left: 10px;
}

.wallet-balance {
    margin-top: 10px;
    display: flex;
    color: #66c0f4;
}

.wallet-balance-text {
    margin-top: 8px;
}

.wallet-balance-value {
    margin-left: 50px;
    font-size: 24px;
}

.wallet-country {
    margin-top: 5px;
    display: flex;
    color: #808891;
}

.wallet-addfunds {
    margin-top: 14px;
}

.wallet-addfunds-title {
    font-size: 20px;
    margin: 10px 0;
}

.wallet-addfunds-text-title {
    margin: 5px 0;
}

.wallet-addfunds-text {
    color: #c6d4df;
}