{% extends "base.html" %}

{% block content %}
    <div class="main-games">
        <div class="container">
            <a href="/login" class="main-game">
                <img src="../static/images/store/img-midnight.png" alt="logo" class="game-logo">
                <div class="game-info">
                    <div class="game-name">Midnight Ghost Hunt</div>
                    <div class="game-tags">Для нескольких игроков, Бой, Командная</div>
                </div>
                <div class="game-sale"><b>-66%</b></div>
                <div class="game-price">
                    <div class="game-cost-without-sale">435 руб.</div>
                    <div class="game-cost">147 руб.</div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}