{% extends "base.html" %}

{% block content %}
    <div class="wallet">
        <div class="container">
            <div class="wallet-title">Аккаунт пользователя {{ current_user.nickname }}</div>
            <div class="wallet-user-id">Steam ID: 7353322{{ current_user.id }}</div>
            <div class="wallet-operations">
                <div class="wallet-logo">
                    <img src="../static/images/wallet/shop.png" alt="Steam" class="main-logo">
                </div>
                <div class="wallet-operations-title">Операции в магазине и история покупок</div>
            </div>
            <div class="wallet-balance">
                <div class="wallet-balance-text">Баланс кошелька</div>
                <div class="wallet-balance-value">{{ current_user.wallet }}{{ current_user.currency }}</div>
            </div>
            <div class="wallet-country">Страна: <div class="white"> Россия</div></div>
            <div class="wallet-addfunds">
                <div class="wallet-addfunds-title">ПОПОЛНИТЬ БАЛАНС</div>
                <div class="wallet-addfunds-text-title">ПОПОЛНИТЬ БАЛАНС КОШЕЛЬКА {{ current_user.nickname.upper() }}</div>
                <div class="wallet-addfunds-text">
                    Средства в вашем кошельке Steam можно тратить на покупку любых игр в Steam или внутри<br>
                    игр, которые поддерживают оплату товаров через Steam.
                </div>
                <div class="wallet-addfunds-buttons">
                    <div class="wallet-addfunds-button">
                        <div class="wallet-addfunds-button-info">
                            <div class="wallet-addfunds-button-title">Добавить 150 pуб.</div>
                            <div class="wallet-addfunds-button-text">Минимальная сумма</div>
                        </div>
                        <div class="wallet-addfunds-button-add">
                            <div class="wallet-addfunds-button-add-text">150 pуб.</div>
                            <a href="/addfunds/150" class="wallet-addfunds-button-src">Пополнить баланс</a>
                        </div>
                    </div>
                    <div class="wallet-addfunds-button">
                        <div class="wallet-addfunds-button-info">
                            <div class="wallet-addfunds-button-title">Добавить 300 pуб.</div>
                        </div>
                        <div class="wallet-addfunds-button-add">
                            <div class="wallet-addfunds-button-add-text">300 pуб.</div>
                            <a href="/addfunds/300" class="wallet-addfunds-button-src">Пополнить баланс</a>
                        </div>
                    </div>
                    <div class="wallet-addfunds-button">
                        <div class="wallet-addfunds-button-info">
                            <div class="wallet-addfunds-button-title">Добавить 750 pуб.</div>
                        </div>
                        <div class="wallet-addfunds-button-add">
                            <div class="wallet-addfunds-button-add-text">750 pуб.</div>
                            <a href="/addfunds/750" class="wallet-addfunds-button-src">Пополнить баланс</a>
                        </div>
                    </div>
                    <div class="wallet-addfunds-button">
                        <div class="wallet-addfunds-button-info">
                            <div class="wallet-addfunds-button-title">Добавить 1500 pуб.</div>
                        </div>
                        <div class="wallet-addfunds-button-add">
                            <div class="wallet-addfunds-button-add-text">1500 pуб.</div>
                            <a href="/addfunds/1500" class="wallet-addfunds-button-src">Пополнить баланс</a>
                        </div>
                    </div>
                    <div class="wallet-addfunds-button">
                        <div class="wallet-addfunds-button-info">
                            <div class="wallet-addfunds-button-title">Добавить 3000 pуб.</div>
                        </div>
                        <div class="wallet-addfunds-button-add">
                            <div class="wallet-addfunds-button-add-text">3000 pуб.</div>
                            <a href="/addfunds/3000" class="wallet-addfunds-button-src">Пополнить баланс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}